{% extends "layout/base_layout.html" %}

{% set title = "Modbus Masters and Slaves" %}


{% block page_title %} ICS Protocols {% endblock page_title %}
{% block menu_l1 %} ICS {% endblock menu_l1 %}
{% block menu_l2 %} Modbus Master/Slave {% endblock menu_l2 %}

{% block content %}
{{ super() }}
<!-- Main content -->


<div class="row m-1">
        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Modbus Masters</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th width="80%">IP</th>
                                <th width="20%">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% if masters %}
                            {% for m in masters %}
                              <tr>
                                <td> {{ m.ip }} </td>
                                <td class="actions">
                                    <a href="{{url_for('inventory.host_detail', id=m.id)}}" class="btn btn-default btn-xs">
                                        <i class="glyphicon glyphicon-edit"></i> View
                                    </a>
                                </td>
                              </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">No applications found!</td>
                            </tr>
                            {% endif %}
                          </tbody>
                        </table>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>


        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Modbus Slaves</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th width="80%">IP</th>
                                <th width="20%">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% if slaves %}
                            {% for s in slaves %}
                              <tr>
                                <td> {{ s.ip }} </td>
                                <td class="actions">
                                    <a href="{{url_for('inventory.host_detail', id=s.id)}}" class="btn btn-default btn-xs">
                                        <i class="glyphicon glyphicon-edit"></i> View
                                    </a>
                                </td>
                              </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">No applications found!</td>
                            </tr>
                            {% endif %}
                          </tbody>
                        </table>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>

    </div>

    <!-- /.content -->
{% endblock content %}
