{% extends "layout/list_layout.html" %}

{% set title = "Modbus Communication" %}

{% block page_title %} ICS Protocols {% endblock page_title %}
{% block menu_l1 %} ICS {% endblock menu_l1 %}
{% block menu_l2 %} Modbus {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}

  <table id="table1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="20%"> Master </th>
                <th width="20%"> Slave</th>
                <th width="10%"> Dst. Port </th>
                <th width="10%"> Function Code </th>
                <th width="20%"> Function Name </th>
                <th width="20%"> Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if mb_requests %}
                {% for r in mb_requests %}
                  <tr>
                    <td> {{ r.master.ip }} </td>
                    <td> {{ r.slave.ip }} </td>
                    <td> {{ r.dstport }} </td>
                    <td> {{ r.func_code }} </td>
                    <td> {{ r.func_name }} </td>
                    <td class="actions">
                        <a href="{{url_for('inventory.host_detail', id=r.master.id)}}" class="btn btn-default btn-xs">
                            <i class="fa fa-eye"></i> View Master
                        </a>
                        <a href="{{url_for('inventory.host_detail', id=r.slave.id)}}" class="btn btn-default btn-xs">
                            <i class="fa fa-eye"></i> View Slave
                        </a>
                    </td>
                  </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No Modbus requests found!</td>
                </tr>
            {% endif %}
        </tbody>
  </table>
{% endblock datatable %}
