{% extends "layout/list_layout.html" %}

{% set title = "Client Products" %}

{% block page_title %} Inventory {% endblock page_title %}
{% block menu_l1 %} Inventory {% endblock menu_l1 %}
{% block menu_l2 %} Products {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Client Applications</strong>
        </div>
        <div class="card-body">
            <table id="table1" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="70%"> Name </th>
                        <th width="5%"> Service </th>
                        <th width="25%"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if applications %}
                        {% for a in applications %}
                          <tr>
                            <td> {{ a }} </td>
                            <td>  </td>
                            <td class="actions">
                                <a href="#" class="btn btn-default btn-xs">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                          </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No client applications found!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock datatable %}
