{% extends "layout/list_layout.html" %}

{% set title = "Network Connections" %}

{% block page_title %} Inventory {% endblock page_title %}
{% block menu_l1 %} Inventory {% endblock menu_l1 %}
{% block menu_l2 %} Connections {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
      <table id="table1" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="20%"> Source </th>
                    <th width="20%"> Destination</th>
                    <th width="10%"> Transport Layer </th>
                    <th width="10%"> Src. Port </th>
                    <th width="10%"> Dst. Port </th>
                    <th width="30%"> Layers </th>
                </tr>
            </thead>
            <tbody>
                {% if connections %}
                    {% for c in connections %}
                      <tr>
                          <td> {{ c.source }} </td>
                          <td> {{ c.destination }} </td>
                          <td> {{ c.transport_layer }} </td>
                          <td> {{ c.src_port }} </td>
                          <td> {{ c.dst_port }} </td>
                          <td> {{ c.layers }} </td>
                      </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No connections found!</td>
                    </tr>
                {% endif %}
            </tbody>
      </table>
    <!-- /.card-body -->
{% endblock datatable %}
