{% extends "layout/base_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% set title = "Host {% if host %} {{ host.ip }} {% endif %} " %}

{% block page_title %} Inventory {% endblock page_title %}
{% block menu_l1 %} Inventory {% endblock menu_l1 %}
{% block menu_l2 %} Endpoints {% endblock menu_l2 %}

{% block content %}
{% if host %}


<div class="row m-1">
        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Gerneral Information</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-4">MAC</dt>
                      <dd class="col-sm-8">{{ host.mac }}</dd>
                      <dt class="col-sm-4">IP</dt>
                      <dd class="col-sm-8">{{ host.ip }}</dd>
                      <dt class="col-sm-4">Private/Public</dt>
                      <dd class="col-sm-8">{{ helper.render_isPrivate(host) }}</dd>
                      <dt class="col-sm-4">Hostname</dt>
                      <dd class="col-sm-8">{{ host.hostname }}</dd>
                      <dt class="col-sm-4">Operating System</dt>
                      <dd class="col-sm-8">{{ host.os }}</dd>
                    </dl>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-olive">
              <div class="card-header">
                <h3 class="card-title">Client Applications</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Application</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if host.applications %}
                    {% for a in host.applications %}
                    <tr>
                      <td>{{ a.name }}</td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td>No applications found.</td>
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
    </div>

<div class="row m-1">
        <div class="col-md-12">
            <div class="card card-olive">
              <div class="card-header">
                <h3 class="card-title">Services</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th width="10%"> TCP/UDP </th>
                        <th width="10%"> Port</th>
                        <th width="20%"> Protocol </th>
                        <th width="60%"> Info </th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for s in host.services %}
                        <tr>
                          <td>{{ s.transport_layer }}</td>
                          <td>{{ s.port }}</td>
                          <td>{{ s.protocol }}</td>
                          <td>{{ s.info }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
    </div>
{% endif %}
{% endblock content %}
