{% extends "layout/list_layout.html" %}

{% set title = "Network Endpoints" %}
{% block page_title %} Inventory {% endblock page_title %}
{% block menu_l1 %} Inventory {% endblock menu_l1 %}
{% block menu_l2 %} Endpoints {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
      <table id="table1" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="25%"> IP </th>
                        <th width="5%"> Private</th>
                        <th width="25%"> Hostname </th>
                        <th width="25%"> OS </th>
                        <th width="20%"> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if hosts %}
                        {% for h in hosts %}
                          <tr>
                            <td> {{ h.ip }} </td>
                            <td> {{ h.private }} </td>
                            <td> {{ h.hostname }} </td>
                            <td> {{ h.os }} </td>
                            <td class="actions">
                                <a href="{{url_for('inventory.host_detail', id=h.id)}}" class="btn btn-default btn-xs">
                                    <i class="fa fa-eye"></i> View
                                </a>
                            </td>
                          </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No endpoint found!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
{% endblock datatable %}
