{% extends "layout/base_layout.html" %}

{% set title = "Client and Server Applications" %}

{% block page_title %} Inventory {% endblock page_title %}
{% block menu_l1 %} Inventory {% endblock menu_l1 %}
{% block menu_l2 %} Products {% endblock menu_l2 %}

{% block content %}
{{ super() }}

<div class="row m-1">
        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Client Applications</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th>Application</th>
                                <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% if applications %}
                            {% for name, count in applications %}
                              <tr>
                                <td> {{ name }} </td>
                                <td> {{ count }} </td>
                                <td class="actions">
                                    <a href="#" class="btn btn-default btn-xs">
                                        <i class="glyphicon glyphicon-edit"></i> View
                                    </a>
                                </td>
                              </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">No applications found!</td>
                            </tr>
                            {% endif %}
                          </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>


        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Server Applications</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th>Application</th>
                                <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% if services %}
                            {% for name, count in services %}
                              <tr>
                                <td> {{ name }} </td>
                                <td> {{ count }} </td>
                                <td class="actions">
                                    <a href="#" class="btn btn-default btn-xs">
                                        <i class="glyphicon glyphicon-edit"></i> View
                                    </a>
                                </td>
                              </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">No services found!</td>
                            </tr>
                        {% endif %}
                          </tbody>
                        </table>
                  </div>
                  <!-- /.card-body -->

            </div>
        </div>

    </div>

{% endblock content %}
