{% extends "layout/list_layout.html" %}

{% block page_title %} Services {% endblock page_title %}
{% block menu_l1 %} Inventory {% endblock menu_l1 %}
{% block menu_l2 %} Products {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Services</strong>
        </div>
        <div class="card-body">
            <table id="table1" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="70%"> Name </th>
                    <th width="5%"> Count </th>
                    <th width="25%"> Action</th>
                </tr>
            </thead>
            <tbody>
                {% if services %}
                    {% for name, count in services %}
                      <tr>
                        <td> {{ name }} </td>
                        <td> {{ count }} </td>
                        <td class="actions">
                            <a href="#" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-edit"></i> View
                            </a>
                        </td>
                      </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No services found!</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock datatable %}
