{% extends "layout/list_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% set title="DNS Responses" %}

{% block page_title %} Plaintext {% endblock page_title %}
{% block menu_l1 %} Plaintext {% endblock menu_l1 %}
{% block menu_l2 %} DNS Services {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
    <table id="table1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="25%"> Response from</th>
                <th width="75%"> Query </th>
            </tr>
        </thead>
        <tbody>
            {% if response %}
                {% for r in response %}
                  <tr>
                    <td> {{r.server.ip }} ({{ helper.render_isPrivate(r.server) }}) </td>
                    <td> {{ r.qry }} </td>
                  </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No DNS responses found!</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock datatable %}
