{% extends "layout/list_layout.html" %}

{% set title="FTP Credentials" %}

{% block page_title %} Plaintext {% endblock page_title %}
{% block menu_l1 %} Plaintext {% endblock menu_l1 %}
{% block menu_l2 %} FTP Credentials {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="50%"> Data </th>
                <th width="20%"> Client </th>
                <th width="20%"> Server </th>
                <th width="10%"> Dest. Port </th>
            </tr>
        </thead>
        <tbody>
            {% if creds %}
                {% for c in creds %}
                  <tr>
                    <td> {{ c.data }} </td>
                    <td> {{ c.client }} </td>
                    <td> {{ c.server }} </td>
                    <td> {{ c.dstport }} </td>
                  </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No FTP Credentials found!</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock datatable %}
