{% extends "layout/list_layout.html" %}

{% set title="Requested HTTP Resources" %}

{% block page_title %} Plaintext {% endblock page_title %}
{% block menu_l1 %} Plaintext {% endblock menu_l1 %}
{% block menu_l2 %} HTTP Resources {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
    <table id="table1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="10%"> Method </th>
                <th width="70%"> Resource </th>
                <th width="20%"> Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if resources %}
                {% for r in resources %}
                  <tr>
                    <td> {{ r.method }} </td>
                    <td> {{ r.full_uri }} </td>
                    <td class="actions">
                        <a href="{{url_for('plaintext.http_resource_detail', id=r.id)}}" class="btn btn-default btn-xs">
                            <i class="fa fa-eye"></i> View
                        </a>
                    </td>
                  </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No HTTP resources found!</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock datatable %}
