{% extends "layout/base_layout.html" %}


{% block page_title %} Network Endpoints {% endblock page_title %}
{% block menu_l1 %} Inventory {% endblock menu_l1 %}
{% block menu_l2 %} Endpoints {% endblock menu_l2 %}

{% block content %}
{% if resource %}
<!-- Main content -->
<div class="row m-1">
        <div class="col-md-12">

            <div class="card card-olive">
              <div class="card-header">
                <h3 class="card-title">
                  Requested Resource
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <dl class="row">
                  <dt class="col-sm-4">Method</dt>
                  <dd class="col-sm-8">{{ resource.method }}</dd>
                  <dt class="col-sm-4">VHost</dt>
                  <dd class="col-sm-8">{{ resource.vhost }}</dd>
                  <dt class="col-sm-4">URI</dt>
                  <dd class="col-sm-8">{{ resource.uri }}</dd>
                  <dt class="col-sm-4">Full URI</dt>
                  <dd class="col-sm-8">{{ resource.full_uri }}</dd>
                  <dt class="col-sm-4">Client</dt>
                  <dd class="col-sm-8">{{ resource.client }}</dd>
                  <dt class="col-sm-4">Server</dt>
                  <dd class="col-sm-8">{{ resource.server }}</dd>
                </dl>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
    </div>
    <!-- /.content -->
</div>
{% endif %}
{% endblock content %}



