{% extends "layout/list_layout.html" %}

{% set title=service_name+" server list" %}
{% block page_title %} Plaintext {% endblock page_title %}
{% block menu_l1 %} Plaintext {% endblock menu_l1 %}
{% block menu_l2 %} {{ service_name }} Services {% endblock menu_l2 %}

{% block datatable %}
{{ super() }}
            <table id="table1" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="25%"> Server </th>
                        <th width="10%"> TCP/UDP </th>
                        <th width="10%"> Port </th>
                        <th width="25%"> Application </th>
                        <th width="20%"> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if service %}
                        {% for s in service %}
                          <tr>
                            <td> {{ s.host.ip }} </td>
                            <td> {{ s.transport_layer }} </td>
                            <td> {{ s.port }} </td>
                            <td> {{ s.info }} </td>
                            <td class="actions">
                                <a href="{{url_for('inventory.host_detail', id=s.host_id)}}" class="btn btn-default btn-xs">
                                    <i class="fa fa-eye"></i> View
                                </a>
                            </td>
                          </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No {{ service_name }} services found!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
{% endblock datatable %}
