<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="{{ url_for('static', filename='dist/img/user2-160x160.jpg')}}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">{% if current_user.first_name -%} {{ current_user.contact.first_name }} {% else -%} {{ current_user.username }} {%- endif %}</a>
    </div>
  </div>



  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Inventory
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{url_for('inventory.host_list')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Hosts</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('inventory.product_list')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Products</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('inventory.connection_list')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Connections</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-header">Plaintext Protocols</li>
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon far fa-envelope"></i>
          <p>
            DNS
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{url_for('plaintext.dns_server_list')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Server Systems</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('plaintext.dns_responses')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Requested Resources</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-book"></i>
          <p>
            HTTP
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{url_for('plaintext.http_server_list')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Server Systems</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('plaintext.http_resources')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Requested Resources</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-book"></i>
          <p>
            Telnet
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{url_for('plaintext.telnet_server_list')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Server Systems</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-book"></i>
          <p>
            FTP
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{url_for('plaintext.ftp_server_list')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Server Systems</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('plaintext.ftp_credentials')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Credentials</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-header">ICS Protocols</li>
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-book"></i>
          <p>
            Modbus
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{url_for('ics.modbus_masters_slaves')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Masters/Slaves</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('ics.modbus_list')}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Connections</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->