<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block meta %}
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>{% block title %} Network Analyzer {% endblock title %}</title>
          <!-- Tell the browser to be responsive to screen width -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        {% block stylesheets %}
          <!-- Font Awesome -->
          <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css')}}">
          <!-- Ionicons -->
          <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
          <!-- overlayScrollbars -->
          <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/adminlte.min.css')}}">
          <!-- Google Font: Source Sans Pro -->
          <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        {% endblock stylesheets %}
    {% endblock head %}
</head>


{% block body %}
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    {% block navbar %}
        {% include "layout/_navbar.html" %}
    {% endblock navbar %}

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{{ url_for('static', filename='dist/img/AdminLTELogo.png')}}"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Network Traffic Analyzer</span>
    </a>


    {% block sidebar %}
        {% include "layout/_sidebar.html" %}
    {% endblock sidebar %}
  </aside>

    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% block page_title %}{% endblock page_title %}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">{% block menu_l1 %}{% endblock menu_l1 %}</a></li>
              <li class="breadcrumb-item active">{% block menu_l2 %}{% endblock menu_l2 %}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

      <section class="content">
    {% block content %}
        {% include "layout/_content.html" %}
    {% endblock content %}
      </section>

  </div>
  <!-- /.content-wrapper -->


    <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.4
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


    {% block javascripts %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{ url_for('static', filename='dist/js/adminlte.min.js')}}"></script>
    {% endblock javascripts %}

</body>
{% endblock body %}

</html>
