{% import "bootstrap/utils.html" as utils %}
{% extends "layout/base_layout.html" %}
{% block stylesheets %}
    {{ super() }}

    <!-- DataTables -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
{% endblock stylesheets %}


{% block content %}
    <section class="content">
      <div class="row">
        <div class="col-12">
            <div class="col-md-12">
                <div class="card card-olive">
                    <div class="card-header">
                        <strong class="card-title">{{title}}</strong>
                    </div>
                    <div class="card-body">
                        {%block datatable %} {%endblock datatable %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
{% endblock content %}


{% block javascripts %}
    {{ super() }}
    <!-- Specific Page Vendor -->


    <!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>

<!-- for export buttons -->
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>

<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='dist/js/adminlte.min.js')}}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#table1").DataTable({
      "responsive": true,
      "autoWidth": false,
      "ordering": true,
      dom: 'Bfrtip',
      buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });

    $('#table2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock javascripts %}